# Git
.git
.gitignore

# Node modules
node_modules
.turbo

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Docker
Dockerfile
.dockerignore

# Build outputs
.next
dist
out

# Test
coverage

# Documentation
README.md
docs
